
/*=================================================================
  @media screen 1440px
==================================================================*/


@media screen and (min-width: 1440px){
   
  


}

/*=================================================================
  @media screen 1199px
==================================================================*/


@media screen and (max-width: 1199px){
   
  .__textside p:nth-child(1) {
    padding-top: 60px;
  }
  .__eventmid {
    margin-top: 14px;
    font-size: 15px;
  }

  .__event {
    padding: 18px 8px;
  }

}


/*=================================================================
  @media screen 1220px
==================================================================*/


@media screen and (max-width: 1220px){
  .__textside p:nth-child(1) {
    padding-top: 60px;
  }

  .__imgdiv {
    height: 100vh;
  }

  .__textside {
    height: 100vh;
  }

  .__weldiv {
    height: 323px;
  }


}


/*=================================================================
  @media screen 1024px
==================================================================*/


@media screen and (max-width: 1024px){

  
  .__textside p:nth-child(1) {
    padding-top: 6px;
  }

  .__eventmid {
    margin-top: 20px;
  }

  .__event {
    padding: 18px 7px;
  }  

  .__weldiv {
    height: 340px;
  }

  .__textside {
    height: 91vh;
  }

  .__imgdiv {
    height: 91vh;
  }

}


/*=================================================================
  @media screen 992px
==================================================================*/


@media screen and (max-width: 992px){


  


}


/*=================================================================
  @media screen 800px
==================================================================*/

@media screen and (max-width: 800px){
  /*.__navfa {
    margin-top: 0px;
    font-size: 10px;
  }

  .__navf {
    font-size: 10px;
    margin-top: 0px;
    margin-left: 0px;
  }*/

  .__textside {
      padding: 0px 15px;
  }

  .__textside p:nth-child(1) {
    padding-top: 6px;
  }

  .__downloadbg {
    padding: 10px 0;
  }

  .__event {
    padding: 18px 8px;
  }

  .__eventmid {
    font-size: 14px;
  }

  .__weldiv {
    height: 369px;
  }

  
  
  /*end*/
	
}

/*=================================================================
  @media screen 767px
==================================================================*/

@media screen and (max-width: 767px){

 .__morebtn {
    margin-top: 4%;
  }

  .__imgevent {
    height: 100vh;
  }

  .__footerp {
    margin-top: 3%;
  }
}


/*=================================================================
  @media screen 560px
==================================================================*/


  @media screen and (max-width: 560px){

  /*Raoatech*/

  .__flexsmail{
    display: flex;
    flex-direction: column;
  }

  .__mobidown{
    order: 2;
  }

  .__mobiup{
    order: 1;
  }

  .__textside {
    height: 100%;
    padding: 10px 10px;
  }

  .__textside p:nth-child(1) {
    padding-top: 5px;
  }

  .__senbtn {
    margin-left: 0px;
  }

  .__welcome {
    line-height: 1;
  }

  .__downsch {
    line-height: 1;
  }

  .__aboubg {
    height: 25vh;
  }

  .__aboutp {
    padding: 15px;
  }

  .__imgevent {
    height: 59vh;
  }
  .__mvc {
    font-size: 25px;
  }

  .__weldiv {
    height: 100%;
  }

  .__imgdiv {
    height: 43vh;
  }

  .__imgdivab {
    height: 48vh;
  }

  
  
  /*end*/



  



}

